Source: indigosky-desktop
Section: science
Priority: optional
Maintainer: Rumen Bogdanovski <rumen@skyarchive.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://www.indigo-astronomy.org
Vcs-Git: git://github.com/indigo-astronomy/indigosky.git

Package: indigosky-desktop
Architecture: all
Depends: xfce4, xfce4-terminal, mousepad, lightdm, xinit, xrdp, materia-gtk-theme, indigo-control-panel, ain-imager
Description: IndigoSky Desktop environment
 IndigoSky is a Linux distribution for astro photography based on indigo framework.
 This package installs a light weight graphical user environment and remote desktop service on top of the standard IndigoSky Distribution.
